/*
 *
 * FONTS
 *
 */

/* FONTS -> VAZIRMATN */

/* FONTS -> VAZIRMATN -> 400 */

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://github.com/rastikerdar/vazirmatn/blob/master/fonts/webfonts/Vazirmatn-Regular.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0100-024F, U+1E00-1EFF;
}

/* FONTS -> VAZIRMATN -> 500 */

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://github.com/rastikerdar/vazirmatn/blob/master/fonts/webfonts/Vazirmatn-Medium.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0100-024F, U+1E00-1EFF;
}

/* FONTS -> VAZIRMATN -> 700 */

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://github.com/rastikerdar/vazirmatn/blob/master/fonts/webfonts/Vazirmatn-Bold.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0100-024F, U+1E00-1EFF;
}
