@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://raw.githubusercontent.com/rastikerdar/vazirmatn/master/fonts/webfonts/Vazirmatn-Regular.woff2)
    format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://raw.githubusercontent.com/rastikerdar/vazirmatn/master/fonts/webfonts/Vazirmatn-Medium.woff2)
    format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://raw.githubusercontent.com/rastikerdar/vazirmatn/master/fonts/webfonts/Vazirmatn-Bold.woff2)
    format("woff2");
}

/* FONTS -> GOOGLE SANS -> 400 */

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Regular-cyrillic.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Regular-greek.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Regular-latinext.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Regular-latin.woff2)
    format("woff2");
}

/* FONTS -> GOOGLE SANS -> 500 */

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Medium-cyrillic.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Medium-greek.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Medium-latinext.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Medium-latin.woff2)
    format("woff2");
}

/* FONTS -> GOOGLE SANS -> 700 */

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Bold-cyrillic.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Bold-greek.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Bold-latinext.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-Bold-latin.woff2)
    format("woff2");
}

/* FONTS -> GOOGLE SANS -> ITALIC */

/* FONTS -> GOOGLE SANS -> ITALIC -> 400 */

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-RegularItalic-cyrillic.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-RegularItalic-greek.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-RegularItalic-latinext.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-RegularItalic-latin.woff2)
    format("woff2");
}

/* FONTS -> GOOGLE SANS -> ITALIC -> 500 */

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-MediumItalic-cyrillic.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-MediumItalic-greek.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-MediumItalic-latinext.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-MediumItalic-latin.woff2)
    format("woff2");
}

/* FONTS -> GOOGLE SANS -> ITALIC -> 700 */

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-BoldItalic-cyrillic.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-BoldItalic-greek.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-BoldItalic-latinext.woff2)
    format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/fonts/GoogleSans-BoldItalic-latin.woff2)
    format("woff2");
}
